# pandas 入门

In [7]:
import pandas as pd
import numpy as np

## 5.1 数据结构
### 5.1.1 Series
一维数组对象，包含值-values属性和索引-index属性（数据标签）

In [3]:
obj = pd.Series([4,7,-5,3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [4]:
obj.values

array([ 4,  7, -5,  3])

In [5]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
## 创建一个索引序列，给每个数据打上标签
obj2 = pd.Series([4,7,-5,3],index = ['d','b','a','c'])
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [18]:
## 可以像excel一样，给每列名字
obj.name = 'int'
obj.index.name = 'lable'
obj

lable
0    4
1    7
2   -5
3    3
Name: int, dtype: int64

In [19]:
## 索引可以按位置赋值改变
obj.index = ['a','b','c','d']
obj

a    4
b    7
c   -5
d    3
Name: int, dtype: int64

In [8]:
## 进行np操作后，标签和数据仍对应
np.exp(obj2)

d      54.598150
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

In [10]:
## 类似字典可以使用in
'a' in obj2

True

#### 字典生成Series

In [11]:
sdata = {'Ohio':35000,'Texas':71000,'Oregon':16000,"Utah":5000}
obj3 = pd.Series(sdata)
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [13]:
## 用字典生成时，可以指定index的顺序
states = ['California','Ohio','Oregon','Texas']
obj4 = pd.Series(sdata,index=states)
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

#### isnull notnull检查数据缺失

In [14]:
pd.isnull(obj4)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

#### 自动对齐

In [15]:
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [16]:
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [17]:
## 按索引对齐，没有值则补NaN
obj3 + obj4

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

### 5.1.2 DataFrame
#### 用numpy数组生成